body{
    background-color: lightsteelblue;
    font-family: Georgia;
}

#jatektabla{
    float: left;
    border: 5px solid black;
    width: 600px;
    height: 600px;
    margin-top: 3rem;
}

.NagyNegyzet{
    border: 2px solid black;
    width: 196px;
    height: 196px;
    float: left;
}

.KisNegyzet{
    border: 1px solid black;
    width: 59px;
    height: 61px;
    float: left;
    font-size: 200%;
    text-align: center;
    background-color: aliceblue;
    font-family: Garamond;
    &:hover{
        background-color: rgb(179, 228, 231);
    }
}

button{
    display: block;
    margin: auto;
    margin-top: 1rem;
    width: 10rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: rgba(126, 126, 214, 0.726);
    font-size: large;

    &:hover{
        background-color: rgb(126, 126, 214);
    }
}

#ellenorzes{
    margin-top: 5rem;
}

#siker{
    font-size: larger;
    text-align: center;
    margin-top: 2rem;
    font-style: italic;
}

#szabalyok{
    width: 30%;
    margin: 3rem 2rem;
    float: left;
}

#gombok{
    width: 30%;
    float: left;
    margin-top: 3rem;
}

h2{
    text-decoration: underline;
    text-align: center;
}